.topbar-appBar {
  height: 60;
  justify-content: "center";
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.combo2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
}

.Button {
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px 2px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.Button:hover {
  color: #3e4041;
}